.header {
    @include animateShadow;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 9;
    background: $colorWhite;

    &__a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__button {
        display: none;
        width: 39px;
        @include fontSize16pxLineHeight20px;
        width: 47px;
        text-align: left;
        padding: 10px 0 10px 6px;
        position: relative;

        &:last-of-type {
            padding-bottom: 5px;
        }

        &--active {
            display: inline-block;
            background-image: url(../img/svg/arrow-bottom.svg);
            background-size: 9px auto;
            background-position: calc(100% - 2px) center;
            background-repeat: no-repeat;
        }

        &--visible {
            display: inline-block;
            border-top: 0.5px solid $colorGrayForm;

            &:first-of-type {
                border: none;
            }
        }
    }

    &__buy {
        display: none;
        text-transform: uppercase;
        background-color: $colorMainOrange;
        font-weight: 900;
        @include fontSize16pxLineHeight20px;
        width: 148px;
        line-height: 46px;
        border-radius: 28.5px;
        border: 2px solid $colorMainOrange;
        @include smallButtonShadow;
        text-align: center;
        transition: 0.2s ease all;

        @media screen and (min-width: $laptop) {
            display: inline-block;
            line-height: 53px;
        }

        &:hover {
            background-color: $colorMainBlack;
            color: $colorMainOrange;
            border-color: $colorMainBlack;
        }

        &--mobile {
            display: block;
            margin: 0 auto;

            @media screen and (min-width: $laptop) {
                display: none;
            }
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 24.5px;
        padding-bottom: 24.5px;

        @media screen and (min-width: $tablet) {
            padding-top: 19.5px;
            padding-bottom: 19.5px;
        }

        @media screen and (min-width: $laptop) {
            display: grid;
            grid-template-columns: auto auto auto;
            justify-content: space-between;
            height: 90px;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &__heading {
        position: relative;
        line-height: 0;
        width: fit-content;
    }

    &__img {
        width: 97px;
        height: auto;

        @media screen and (min-width: $tablet) {
            width: 120px;
        }
    }

    &__language {
        display: flex;
        align-items: center;
        width: 47px;
        padding: 10px;
        position: relative;
    }

    &__language-box {
        position: absolute;
        left: calc(50% - 23px);
        top: calc(50% - 30px);
        display: grid;
        grid-template-columns: 1fr;
        background-color: $colorWhite;
        padding: 10px;

        &--active {
            @include inputKalkulatorShadow;
        }
    }

    &__menu {
        width: fit-content;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        grid-gap: 29px;

        @media screen and (min-width: $mobile) {
            grid-gap: 27px;
        }
    }
}