.nav {
    display: none;

    @media screen and (min-width: $laptop) {
        display: block;
        width: fit-content;
        margin-left: 105px;
    }

    &__a {
        transition: 0.2s ease color;

        &:hover {
            color: $colorMainOrange;
        }
    }

    &__ul {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 65px;
    }
}